# Project Testing Report

## Test Case 1
Input: Life Expectancy: 78.5, Mean Years of Schooling: 12, GNI Per Capita: 15000
Expected: Predicted HDI between 0 and 1
Result: PASS

---

## Test Case 2
Life Expectancy: 82
Mean Years of Schooling: 13
GNI Per Capita: 60000
Result: PASS

---

## Test Case 3
Life Expectancy: 62
Mean Years of Schooling: 5
GNI Per Capita: 2000
Result: PASS

---

Application Started Successfully: PASS
Model Loaded Successfully: PASS
Prediction Generated Successfully: PASS
